body {
	background-color: gray;
}
.section01 {
	width:80%;
	margin:0 auto;
	background-color: white;
	padding: 1em;
}
  
.section01　.heading {
color:red;
}

.btn {
background-color:green;
color:white;
}

.section01 button {
background-color:red;
}